h1 {
  color: red;
  text-align: center;
}

h2 {
  color: #fadcf7;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;

}

ul {
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
}